<a href="https://colab.research.google.com/github/abdalrahmanmajzoub/Web-Scraping-Indeed-website/blob/main/Web_Scraping_Indeed_Website.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#installing required libraries
!pip install bs4
!pip install requests

Requirement already satisfied: bs4 in /usr/local/lib/python3.7/dist-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.7/dist-packages (from bs4) (4.6.3)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (2.23.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests) (2021.5.30)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests) (3.0.4)

In [11]:
#import required libraries
import pandas as pd
import csv
from datetime import datetime
import requests
from bs4 import BeautifulSoup

#prepare the link
def get_url(postition , location):
  template = 'https://www.indeed.com/jobs?q={}&l={}'
  url = template.format(postition, location)
  #print(url)
  return url

#get jobs records from html tags using BeautifulSoup library
def get_record(card):
  job_title= card.find('span' , {'title': True}).text.strip()
  company_name = card.find('span' , {'class':'companyName'}).text.strip()
  company_location = card.find('div' , {'class':'companyLocation'}).text.strip()
  job_summary = card.find('div' , {'class':'job-snippet'}).text.strip()
  job_link = 'https://www.indeed.com'+card.get('href')
  try:
    job_salary = card.find('span' , {'class':'salary-snippet'}).text.strip()
  except AttributeError:
    job_salary = ''
  
  record = (job_title,company_name,company_location,job_summary,job_salary,job_link)

  return record

def main(position,location):
  records = []
  print(position)
  print(location)
  url = get_url(position, location)

  while True:
      response = requests.get(url)
      #print(response)
      soup = BeautifulSoup(response.text,'html.parser')
      cards = soup.find_all('a' , {'data-hide-spinner':"true"})
      for card in cards:
        record = get_record(card)
        #print(record)
        records.append(record)
        #print(len(records))
      try:
        url = 'https://www.indeed.com'+ soup.find('a', {'aria-label':'Next'}).get('href')
      except AttributeError:
        break
      
      with open('resault5.csv' , 'w' , newline='' , encoding='utf-8') as f:
        writer = csv.writer(f)
        writer.writerows(['job_title','company_name','company_location','job_summary','job_salary','job_link'])
        writer.writerows(records)

  indeed_data = pd.DataFrame(columns=['job_title','company_name','company_location','job_summary','job_salary','job_link'])
  for x in records:
    j_title = x[0]
    j_cn = x[1]
    j_cl = x[2]
    j_s = x[3]
    j_sal = x[4]
    j_l = x[5]
    indeed_data = indeed_data.append({"job_title":j_title, "company_name":j_cn, "company_location":j_cl, "job_summary":j_s, "job_salary":j_sal, "job_link":j_l}, ignore_index=True)
  return indeed_data

In [12]:
df_data = main('Data Science', '')

Data Science

In [13]:
df_data.shape

(998, 6)

In [14]:
df_data.columns

Index(['job_title', 'company_name', 'company_location', 'job_summary',
       'job_salary', 'job_link'],
      dtype='object')

In [15]:
df_data.head()

                                           job_title  ...                                           job_link
0                Subject Matter Expert, Data Science  ...  https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...
1                   Entry Level Data Scientist: 2022  ...  https://www.indeed.com/rc/clk?jk=d9dc2b2ff8863...
2                   Remote Data Scientist (contract)  ...  https://www.indeed.com/rc/clk?jk=4e7590a713871...
3  Data Scientist/Analytics Entry Level Full Time...  ...  https://www.indeed.com/rc/clk?jk=44ab675983c2b...
4                           Entry Level Data Analyst  ...  https://www.indeed.com/rc/clk?jk=f7a086d756a6f...

[5 rows x 6 columns]

In [16]:
print(max(df_data['job_salary']))

Up to $65,000 a year